body{
	font:20px Arial sans-serif;
}
.navbar{
	background-color:#ACFA58;
}
.quem-somos{
	background-color:#81F79F;
	color:white;
	
}
.margin{
	padding-bottom:50px;
	padding-top:10px;
}
.parceiros{
	background-color:#819FF7;
	
}

.bg-footer{
	background-color:black;
	color:white;
}